/* Defalut Screen Laptop"" */

/* For tablets */
@media screen and (max-width: 1024px) {
  /**** Home Section *****/
  .home{
    height: 100vh;
  }
  .home-cont {
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .content {
    width: 90%;
    text-align: center;
  }
  .home-info {
    justify-content: center;
  }
  .home-cont picture {
    width: 90%;
  }
  .home-cont h2 {
    font-size: 50px;
  }
  .btn1 {
    border-radius: 20px;
  }

  /* **********our Chef-Section******* */
  .chef-cont {
    width: 100%;
  }
  .chef-cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .card {
    width: 45%;
  }

  /* ********Contact-form********** */
  .fram iframe {
    aspect-ratio: 16 / 9;
  }
  .input-grop {
    flex-direction: column;
  }
  .input-grop input {
    width: 100%;
  }

  /* *********Footer*********** */
  footer {
    background-repeat: repeat;
  }
  .foot-cont {
    flex-wrap: wrap;
  }
  .foot-sec1 {
    order: 1;
    width: 45%;
    flex-grow: 1;
  }
  .foot-sec2 {
    order: 3;
    width: 100%;
  }
  .foot-sec3 {
    order: 2;
    width: 45%;
    flex-grow: 1;
  }
}

/* For Phones */
@media screen and (max-width: 768px) {
  /**** Home Section *****/
  .home {
    height: 100vh;
  }
  .home-cont picture {
    width: 85%;
}
  .home-cont {
    padding: 20px 0 50px;
  }
  .home-info {
    flex-direction: column;
    gap: 2rem;
  }
  .nav-cont > a {
    font-size: 20px;
  }
  .nav-cont{
    width: 95%;
    justify-content: space-evenly;
  }
  .nav-cont ul li{
    margin: 0 10px;
  }
  .nav-cont ul li a {
    font-size: 10px;
  }
  .nav-cont ul {
    margin: 0;
    justify-content: flex-start;
    padding: 0;
  }

  /***** our Chef-Section *******/
  .card {
    width: 100%;
  }
  .chef-tit p {
    font-size: 25px;
    margin: auto;
  }
  .card-content h3 {
    margin-top: 20px;
}
  /* ****************** */
  .info-card {
    width: 100%;
  }
  .fram iframe {
    aspect-ratio: 1 / 1;
  }
  .info-card i {
    font-size: 15px;
    padding: 15px;
  }
  .info-card span {
    font-size: 15px;
}
  /* ******footer*********** */
  footer {
    flex-direction: column;
  }
  .foot-sec1 {
    order: 1;
    width: 100%;
    flex-grow: 1;
  }
  .foot-sec2 {
    order: 2;
    width: 100%;
  }
  .foot-sec3 {
    order: 3;
    width: 100%;
    flex-grow: 1;
  }
}

/* X-small phones */
@media screen and (max-width: 320px) {
  /**** Home Section *****/
  .home {
    height: 170vh;
  }
}
/* for Desktop */
@media screen and (min-width: 1280px) {
  .gall-album {
    column-count: 3;
  }
}
